# Miscellaneous
*.java.hsp
*.sonarj
*.sw*
.DS_Store
build.sh
ivy-cache
argfile*
classes/

# Log files
*.log

# Gradle artifacts
.gradle
.gradletasknamecache
/build
buildSrc/build
docs/build
/grace-*/build
/integration-tests/build

# Eclipse artifacts, including WTP generated manifests
bin
.classpath
.project
.settings
.springBeans

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea/*
!.idea/icon.svg
out
test-output

# VS Code
.vscode/

# Grace
/bin
/dist
/lib
